#admin-password {
  display: inline-flex;
  margin-top: 40px;
  button {
    line-height: 2;
    font-size: 24px;
    padding-left: 10px;
    color: $blue;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

#password-error{
  padding-top: 5px;
  color: $red;
  font-size: 14px;
  margin-left: -20px;
}


.red-btn {
  font-size: 18px;
  color: darken($red, 20);
  margin-top: 53px;
  position: relative;
  left: 20px;
}

.green-btn {
  margin-top: 30px;
  position: relative;
  left: 40px;
}

#name-error {
  position: relative;
  top: -300px;
  color: $red;
  font-size: 24px;
}

.group-heading {
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}
