#admin-password {
  display: inline-flex;
  margin-top: 40px;
  button {
    line-height: 2;
    font-size: 24px;
    padding-left: 10px;
    color: $blue;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

#password-error{
  padding-top: 5px;
  color: $red;
  font-size: 14px;
  font-weight: 100;
  margin-left: -20px;
}
