#admin-password {
  display: inline-flex;
  margin-top: 40px;
  button {
    line-height: 2;
    font-size: 24px;
    padding-left: 10px;
    color: $blue;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

#password-error{
  padding-top: 5px;
  color: $red;
  font-size: 14px;
  margin-left: -20px;
}


#cancel-btn {
  font-size: 18px;
  color: darken($red, 20);
  margin-top: 280px;
  position: relative;
  left: 20px;
}

#create-btn {
  margin-top: 250px;
  position: relative;
  left: 40px;
}

#name-error {
  position: relative;
  top: -300px;
  color: $red;
  font-size: 24px;
}
