@charset "utf-8";

// Variables
$base-font-family: Helvetica;
$base-font-size:   20px;
$base-font-weight: 100;
$base-line-height: 1.5;
$spacing-unit:     30px;
$top-bar-height:   40px;

// Colors
$text-color: #000;
$blue: #51A7F9;
$red: #EC5D57;
$green: #70BF41;

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.red {
  color: $red;
}


@import
  "font-awesome",
  "base",
  "shared",
  "admin",
  "ember-power-select"
;
