html, body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}
