.top-bar {
  background-color: $blue;
  height: $top-bar-height;
  font-weight: normal;
  margin-bottom: 30px;
}

.top-bar-back {
  padding-left: 20px;
  text-align: left;
}

.top-bar-text {
  line-height: $top-bar-height;
  font-size: 1.1em;
  color: white;
}

.index-buttons {
  display: block;
  margin-top: 100px;
}

.index-button {
  font-size: 1.3em;
  padding-top: 30px;
}

#admin-button {
  padding-top: 200px;
  a {
    color: darken($blue, 20);
  }
}

.list-button {
  text-align: left;
  margin: 15px 10px 15px 10px;
  padding: 10px 35px 10px 35px;
  border-bottom: solid 1px #969696;
}

.list-button-text {
  text-align: left;
}

.list-button-icon {
  float: right;
  font-size: 26px;
  line-height: 0em; // Mysteriously helps vertically center
}

.table-form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.form-row {
}

.form-label {
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-input {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  left: -10px;
}
